<div class="container">
  <div class="text">
    <ul>
      <li>Enter your password.</li>
      <li>After entering the password you will be logged in and your new email will be sent a letter.</li>
      <li>Follow the link inside the letter to confirm the changes.</li>
      <li>Log in with new email.</li>
    </ul>
  </div>
  <form novalidate [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm)" class="form">
    <div class="input-submit">
      <div class="errorMessage">{{formErrors.password}}</div>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
        [class.enabled-input]="passwordForm.controls['password'].valid">
      <button type="submit" [disabled]="!passwordForm.valid" class="confirm"
        [class.disabled-btn]="!passwordForm.valid">Submit</button>
    </div>
  </form>
  <div class="close-icon" (click)="closeModal()">
    <fa name="close"></fa>
  </div>
</div>
