<div class="container">
  <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="form">

    <h2>{{actionType}}</h2>

    <div class="input-group">
      <div *ngIf="email.errors?.required && (email.touched || email.dirty)" class="errorMessage">Required field</div>
      <div *ngIf="email.errors?.email" class="errorMessage">Incorrect email format</div>
      <div  *ngIf="fireEmailError" class="errorMessage">{{fireEmailError}}</div>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email adress">
    </div>
    <div class="input-group">
      <div *ngIf="password.errors?.required && (password.touched || password.dirty)" class="errorMessage">Required field</div>
      <div *ngIf="password.errors?.minlength" class="errorMessage">At least 6 characters</div>
      <div *ngIf="password.errors?.maxlength" class="errorMessage">20 characters max</div>
      <div  *ngIf="firePasswordError" class="errorMessage">{{firePasswordError}}</div>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
    </div>
    <div class="input-group">
      <div *ngIf="userName.errors?.required && (userName.touched || userName.dirty)" class="errorMessage">Required field</div>
      <div *ngIf="userName.errors?.pattern || userName.errors?.maxlength" class="errorMessage">Incorrect name format</div>
      <input [@toggleNameInput]="currentVisibleState" type="text" class="form-control name-input" id="userName"
        formControlName="userName" placeholder="User name">
    </div>

    <button type="submit" [disabled]="!loginForm.valid" class="btnSubmit" [class.btnDisabled]="!loginForm.valid"
      >{{actionType}}</button>
    <a (click)="toggleData()" class="link">{{phraseForToggle}}</a>
    <a (click)="resetPassword()" *ngIf="!needCreateAccount" class="link">Forgot your password?</a>
  </form>

  <div class="close-icon" (click)="closeModal()">
    <fa name="close"></fa>
  </div>

</div>
