<div class="container">
  <app-slider></app-slider>
  <div class="desc">
    <div class="img-wrap">
      <img src="/assets/images/line.png" alt="">
    </div>
    <h2>Title</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est? Delectus reprehenderit, expedita sapiente
      mollitia sit cum dolorem reiciendis et hic accusamus eius facilis incidunt, voluptate atque! Accusantium, minus
      quam?
      Nulla ab facere corrupti inventore aut sapiente, laboriosam fugiat perspiciatis qui. Laborum ratione deserunt
      voluptatibus omnis sint, vero, dolores nisi eligendi explicabo unde officia architecto tempore? Voluptates
      adipisci quisquam et.
      Ea eligendi, nemo veniam fuga reiciendis excepturi, enim iure ab eos ullam distinctio quaerat inventore
      aspernatur eaque accusantium exercitationem soluta ipsam facere placeat, autem recusandae architecto officia
      vero? Reiciendis, odio.
      Illum architecto, aperiam dolorum soluta minima odio inventore qui velit modi asperiores. Labore quaerat vel
      asperiores voluptas ullam architecto quia perspiciatis eius numquam quibusdam consequatur fugiat repudiandae,
      quidem at fugit.
      Neque molestias sapiente obcaecati. Amet nobis similique natus, iusto earum magni. Delectus, placeat incidunt ea
      qui corporis eligendi velit ex nam fugiat cum ratione soluta fuga sint. Recusandae, soluta ipsum?
      Est ullam soluta perspiciatis in aperiam error eveniet praesentium perferendis eius, inventore nostrum saepe nisi
      sapiente aliquam vero debitis autem hic dolore vel voluptates numquam. Nostrum delectus excepturi voluptatem
      dolores?
      Maxime quos excepturi veritatis aperiam sint aspernatur vitae, molestiae, sit perferendis ad minima? Dignissimos
      porro, libero, omnis voluptate, eaque cum voluptatibus in beatae unde asperiores soluta distinctio nam nesciunt
      quia.
      Provident placeat nam error a hic esse assumenda itaque possimus, facilis sapiente fugit eligendi delectus quia
      iure perspiciatis? Voluptates impedit voluptatem quas quod quis aspernatur incidunt nisi quasi perferendis
      tenetur?
      Perferendis eius delectus animi officia possimus doloribus ad quasi obcaecati, reprehenderit consequatur vero,
      sequi fugit nulla quibusdam unde provident! Illum, odio. Deleniti nemo repellendus necessitatibus sapiente minus
      ab vel delectus.
      Fugiat, ab? Natus architecto incidunt quae cum, magni rerum reprehenderit pariatur sint molestias vitae tempore
      perspiciatis. Eligendi nisi modi, fuga, eaque sed porro accusantium vero, perspiciatis ratione quae dolore sit.
    </p>
    <div class="img-wrap">
      <img src="/assets/images/line.png" alt="">
    </div>
    <h2>Title</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est? Delectus reprehenderit, expedita sapiente
      mollitia sit cum dolorem reiciendis et hic accusamus eius facilis incidunt, voluptate atque! Accusantium, minus
      quam?
      Nulla ab facere corrupti inventore aut sapiente, laboriosam fugiat perspiciatis qui. Laborum ratione deserunt
      voluptatibus omnis sint, vero, dolores nisi eligendi explicabo unde officia architecto tempore? Voluptates
      adipisci quisquam et.
      Ea eligendi, nemo veniam fuga reiciendis excepturi, enim iure ab eos ullam distinctio quaerat inventore
      aspernatur eaque accusantium exercitationem soluta ipsam facere placeat, autem recusandae architecto officia
      vero? Reiciendis, odio.
      Illum architecto, aperiam dolorum soluta minima odio inventore qui velit modi asperiores. Labore quaerat vel
      asperiores voluptas ullam architecto quia perspiciatis eius numquam quibusdam consequatur fugiat repudiandae,
      quidem at fugit.
      Neque molestias sapiente obcaecati. Amet nobis similique natus, iusto earum magni. Delectus, placeat incidunt ea
      qui corporis eligendi velit ex nam fugiat cum ratione soluta fuga sint. Recusandae, soluta ipsum?
      Est ullam soluta perspiciatis in aperiam error eveniet praesentium perferendis eius, inventore nostrum saepe nisi
      sapiente aliquam vero debitis autem hic dolore vel voluptates numquam. Nostrum delectus excepturi voluptatem
      dolores?
      Maxime quos excepturi veritatis aperiam sint aspernatur vitae, molestiae, sit perferendis ad minima? Dignissimos
      porro, libero, omnis voluptate, eaque cum voluptatibus in beatae unde asperiores soluta distinctio nam nesciunt
      quia.
      Provident placeat nam error a hic esse assumenda itaque possimus, facilis sapiente fugit eligendi delectus quia
      iure perspiciatis? Voluptates impedit voluptatem quas quod quis aspernatur incidunt nisi quasi perferendis
      tenetur?
      Perferendis eius delectus animi officia possimus doloribus ad quasi obcaecati, reprehenderit consequatur vero,
      sequi fugit nulla quibusdam unde provident! Illum, odio. Deleniti nemo repellendus necessitatibus sapiente minus
      ab vel delectus.
      Fugiat, ab? Natus architecto incidunt quae cum, magni rerum reprehenderit pariatur sint molestias vitae tempore
      perspiciatis. Eligendi nisi modi, fuga, eaque sed porro accusantium vero, perspiciatis ratione quae dolore sit.
    </p>
  </div>
</div>
