<div class="container">
  <app-slider></app-slider>
  <div class="desc-wrap">
    <div class="img-wrap">
      <img src="/assets/images/line.png" alt="">
    </div>
    <h2>Что происходит?</h2>
    <div class="description">
      <p>
        Данный проект изначально был задуман с целью получения/улучшения практических навыков использования платформ
        Angular и Firebase.
        Конечной целью проекта должен стать менеджер задач с оповещением на электронную почту о приближении срока
        выполнения задания,
        а также присвоением «звания» пользователю в зависимости от соотношения выполненных и проваленных заданий.
      </p>
      <p>
        На данном этапе написания проекта реализованы функции регистрации нового пользователя, удаления аккаунта,
        авторизации уже существующего
        и изменения личных данных пользователя. Функционал непосредственно «менеджера задач» пока не реализован.
      </p>
    </div>
    <div class="img-wrap">
      <img src="/assets/images/line.png" alt="">
    </div>
    <h2>Структура проекта</h2>
    <div class="description">
      <p>
        Схематическое расположение компонентов:
      </p>
      <div class="img-wrap">
        <img src="/assets/images/struct.png" alt="">
      </div>

    </div>
    <div class="img-wrap">
      <img src="/assets/images/line.png" alt="">
    </div>
    <h2>Технологии, сервисы, средства</h2>
    <div class="description">
      <p>В данном разделе я попытался обозначить сервисы платформы Firebase, средства фреймворка Angular,
        и другие инструменты, исползуемые в проекте, с указанием места их применения.</p>

      <h3>Firebase</h3>
      <ul>
        <li>Firebase Authentication - используется для создания аккаунта пользователя, удаления аккаунта,
          входа пользователя в уже существующую учетную запись, выхода из аккаунта, а также изменения личных данных
          зарегистрированного пользователя. Применяется в проекте в сервисах auth.service.ts и user.service.ts
        </li>
        <li>
          Firebase Realtime Database - NoSQL облачная база данных. На данном этапе написания приложения используется для
          хранения пользователя и его данных,
          расширяя функционал Firebase Authentication, путем добавления дополнительных полей в запись. Применяется в
          user.service.ts
        </li>
        <li>
          Firebase Cloud Storage - облачное хранилище, применяемое для хранения файлов. В конкретном случае используется
          для
          хранения какртинок-аватаров пользователя, загруженных с локальной ЭВМ. Реализовано в user.service.ts
        </li>
        <li>
          Firebase Cloud Functions - облачные функции. В проекте присутсвует функция для удаления аккаунта вновь
          зарегистрированного
          пользователя, если email, указанный при регистрации, не был подтвержден в течение часа. Пользователь
          удаляется, как из Firebase Authentication,
          так и из Firebase RTDB. Функция реализована в корне проекта в каталоге functions.
        </li>
      </ul>

      <h3>Angular</h3>
      <ul>
        <li>

        </li>
      </ul>
      <p></p>
    </div>
  </div>
</div>
