<div class="container">
  <app-slider></app-slider>
  <div class="desc-wrap">
    <div class="img-wrap">
      <img src="/assets/images/line.png" alt="">
    </div>
    <h2>Что происходит?</h2>
    <div class="description">
      <p>
        Данный проект изначально был задуман с целью получения/улучшения практических навыков использования платформ Angular и Firebase. 
        Конечной целью проекта должен стать менеджер задач с оповещением на электронную почту о приближении срока выполнения задания, 
        а также присвоением «звания» пользователю в зависимости от соотношения выполненных и проваленных заданий.
      </p>
      <p>
        На данном этапе написания проекта реализованы функции регистрации нового пользователя, удаления аккаунта, авторизации уже существующего 
        и изменения личных данных пользователя. Функционал непосредственно «менеджера задач» пока не реализован.
      </p>
    </div>
    <div class="img-wrap">
      <img src="/assets/images/line.png" alt="">
    </div>
    <h2>Структура проекта</h2>
    <div class="description">
      <p>
        Схематическое расположение компонентов:
      </p>
      <div class="img-wrap">
        <img src="/assets/images/Struct.png" alt="">
      </div>
    </div>
  </div>
</div>
