<div class="main-container">
  <div class="info-container">
    <div class="subcontainer-1">
      <div class="box-photo">
        <div class="photo-container">
          <div class="photo" *ngIf="photo" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></div>
        </div>
        <a class="button" [class.disabled-btn]="isBtnDisabled" (click)="onDelete()">
          Delete foto
        </a>
      </div>
      <div class="box-info">
        <div class="name-state">
          <div class="name">
            <p>{{(user | async).user.name}}</p>
            <fa name="cog" (click)="goToChangeUserComponent('nameInput')" (mouseenter)="toggleTooltip(true, $event)"
              (mouseleave)="toggleTooltip(false)"></fa>
          </div>

          <p class="state">Rock</p>
        </div>
        <div class="characteristics">
          <div class="item">
            <p class="label">Id:</p>
            <p class="info">{{(user | async).user.id}}</p>
          </div>
          <div class="item email">
            <p class="label">Email:</p>
            <p class="info">{{(user | async).user.email}}</p>
            <fa name="cog" (click)="goToChangeUserComponent('emailInput')" (mouseenter)="toggleTooltip(true, $event)"
              (mouseleave)="toggleTooltip(false)"></fa>

          </div>
          <div class="item">
            <p class="label">Photo:</p>
            <p class="info"> {{(user | async).user.photo}} </p>
          </div>
          <div class="item">
            <p class="label">Old photo:</p>
            <p class="info">{{(user | async).user.pathToOldPhotoInStorage}}</p>
          </div>
          <div class="item">
            <p class="label">All tasks:</p>
            <p class="info">30</p>
          </div>
          <div class="item">
            <p class="label">Done:</p>
            <p class="info">19</p>
          </div>
          <div class="item">
            <p class="label">Failed:</p>
            <p class="info">1</p>
          </div>
          <div class="item">
            <p class="label">During:</p>
            <p class="info">10</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Не реализовано. Заглушки -->
    <div class="subcontainer-2">
      <div class="box">Info-1</div>
      <div class="box">Info-2</div>
      <div class="box">Info-3</div>
      <div class="box">Info-4</div>
    </div>
  </div>

  <div class="task-container">
    <div class="temp"></div>
    <div class="temp"></div>
    <div class="temp"></div>
    <div class="temp"></div>
  </div>
</div>
